DATABASE_URL="postgresql://user:password@localhost:5432/bem_db"
JWT_ACCESS_SECRET="changeme_access_64_chars"
JWT_REFRESH_SECRET="changeme_refresh_64_chars"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"
FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""
FACEBOOK_CALLBACK_URL="http://localhost:3000/auth/facebook/callback"

# Cloudinary — stockage des images produits
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
